app_environment = "${var.environment}"
app_project_source_path = "${var.project_workdir}"
app_project_name = "${var.project_name}"
app_project_version = "${var.project_version}"
azure_subscription_id = "${var.azure_subscription_id}"
azure_resource_group_name = "${var.azure_resource_group_name}"
azure_container_registry_name = "${var.azure_container_registry_name}"
docker_dockerfile_path = "${var.step_workdir}/docker/Dockerfile"